<!-- HERO SECTION BEGIN -->
<div class="hero">
  <h1 class="hero-text">CAMELOT CHESS</h1>
  <h4 class="hero-subtext">Online chess built with Ruby On Rails</h4>
  <div class="buttons play">
    <a class="play-btn"<%= link_to 'PLAY', games_path %></a>
  </div>
</div>
<!--HERO SECTION END -->

<!-- ABOUT SECTION BEGIN-->
<section class="about-section">
  <div class="about-container">
    <h1 class="about-header">CAMELOT CHESS...</h1>
    <h1 class="about-subheader">from THE KNIGHTS WHO SAY NIL</h1>
    <p class="about-text">The capstone of <a href="https://www.firehoseproject.com/">The Firehose Project</a>, Camelot Chess is an open source chess application built with Ruby on Rails. Our agile team, <a href="https://github.com/TheKnightsWhoSayNil">The Knights Who Say Nil</a>, worked together to build every element of our app from the ground up while improving our development skills.</p>
  </div>
</section>
<!--ABOUT SECTION END-->

<!-- SKILLS & TOOLS SECTION BEGIN -->
<section class="skills-section">
  <h1 class="skills-title">< SKILLS ></h1>
  <h1 class="skills-subtitle">Full Stack Development Skills Used To Craft Our Project</h1>

  <div class="skills-container">
    <div class="skillbox">
      <div class="skills">
        <img src="assets/ruby.png" class="skills-logos">
        <h3>RUBY</h3>
      </div>
    </div>
    <div class="skillbox"> 
      <div class="skills">
        <img src="assets/rails.png" class="skills-logos">
        <h3>RAILS</h3>
      </div>
    </div>
    <div class="skillbox">
      <div class="skills">
        <img src="assets/js.png" class="skills-logos">
        <h3>JS</h3>
      </div>
    </div>
    <div class="skillbox">
      <div class="skills">
        <img src="assets/html.png" class="skills-logos">
        <h3>HTML5</h3>
      </div>
    </div>
    <div class="skillbox">
      <div class="skills">
        <img src="assets/css.png" class="skills-logos">
        <h3>CSS3</h3>
      </div>
    </div>
  </div>

  <hr class="skills-hr">

  <h1 class="skills-title">< TOOLKIT ></h1>
  <h1 class="skills-subtitle">Management, Communication, Testing, Integration and Control</h1>
  <div class="skills-container">
    <div class="skillbox">
      <div class="skills">
        <img src="assets/codeship2.png" class="skills-logos">
        <h3>CODESHIP</h3>
      </div>
    </div>
    <div class="skillbox">
      <div class="skills">
        <img src="assets/rubocop.png" class="skills-logos">
        <h3>RUBOCOP</h3>
      </div>
    </div>
    <div class="skillbox">
      <div class="skills">
        <img src="assets/github.png" class="skills-logos">
        <h3>GITHUB</h3>
      </div>
    </div>
    <div class="skillbox">
      <div class="skills">
        <img src="assets/rspec2.png" class="skills-logos">
        <h3>RSPEC</h3>
      </div>      
    </div>
    <div class="skillbox">
      <div class="skills">
        <img src="assets/trello.png" class="skills-logos">
        <h3>TRELLO</h3>
      </div>
    </div>
    <div class="skillbox">
      <div class="skills">
        <img src="assets/slack.png" class="skills-logos">
        <h3>SLACK</h3>
      </div>
    </div>
  </div>
</section>
<!-- SKILLS & TOOLS SECTION END -->

<!-- TEAM SECTION BEGIN -->
<section class="team-section">
  <h1 class="team-title">< OUR TEAM ></h1>
  <h1 class="team-subtitle">The Knights Who Say Nil</h1>
  <div class="team-container">
    <div class="teambox">
      <div class="team">
        <img src="assets/bran.png" class="team-logos">
        <h3>Brandon</h3>
      </div>
    </div>
    <div class="teambox">
      <div class="team">
        <img src="assets/con.png" class="team-logos">
        <h3>Conner</h3>
      </div>
    </div>
    <div class="teambox">
      <div class="team">
        <img src="assets/tim.png" class="team-logos">
        <h3>Timothy</h3>
      </div>
    </div>
    <div class="teambox">
      <div class="team">
        <img src="assets/kat.png" class="team-logos">
        <h3>Katie</h3>
      </div>
    </div>
    <div class="teambox">
      <div class="team">
        <img src="assets/lad.png" class="team-logos">
        <h3>Ladislav</h3>
      </div>
    </div>
  </div>
</section>
<!-- TEAM SECTION END -->
