/* Bourbon */

@import "bourbon";
@import "base/base";
@import  "neat";

/* CSS Styling */

@import "devise";
@import "gameboard";
@import "cards";
@import "navbar";
@import "footer";
@import "index";
@import "users";
@import "modal";
@import "chatbox";
@import "burger";

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.alert.alert-success.alert-dismissible,
.alert.alert-error.alert-dismissible,
.alert.alert-alert.alert-dismissible {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  background-color: indianred;
  color: white;
}