/* HOMEPAGE */

@keyframes fade-in {
  0% { opacity: -1 }
  100% { opacity: 1 }
}

@keyframes fade-down {
  from { 
    opacity: 0;
    transform: translateY(-150px);
   }
  to   { 
    opacity: 1; 
    transform: translateY(0);
  }
}

body {
  margin: 0;
}

/* HERO SECTION */
.hero {
  background: linear-gradient(to bottom, rgba(13, 175, 129, 0.1) 0%, rgba(13, 175, 129, 0.1) 100%), url('chess7.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  /*box-shadow: 0px 3px 8px #2a2a2a;*/
  text-align: center;
  margin-top: -70px;
  line-height: 30px;

  @media all and (max-width: 1300px) {
    height: 50vh;
  }
}

.hero.active {
  margin-top: -400px;
  height: 100vh;
}

h1.hero-text {
  color: #fff;
  font-size: 6.5em;
  font-weight: 200;
  margin: 0;
  padding-top: 2em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  letter-spacing: 1px;
  /*animation: fade-down 1.5s;*/
}

h4.hero-subtext {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  letter-spacing: 1.5px;
  /*animation: fade-down 1.5s;*/
}

.play {
  padding-top: 1.6em;
  animation: fade-in 3.5s;
  padding-left: 0;
}

.arrows {
  text-align: center;
  height: 70%;
}

.arrow-div {
  height: 10%;
  width: auto;
  margin: 100px auto 50px;
}

#main-container {
 
}

/* ABOUT SECTION */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  width: 100%;
  margin: 0;
  color: black;
  clear: both;
  
  @media all and (max-width: 1300px) {
    height: 50vh;
  }
}

.about-container {
  text-align: center;
  width: 40%;
}

.about-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

.about-subheader {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/* SKILLS SECTION */
.skills-section {
  height: 800px;
  background: darkslategray;
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: 400;
  margin: 0;
}

.skills-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
}

.skillbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  display: block;
  height: auto;
  width: auto;
  margin: 20px;
  padding-top: 20px;
}

.skills h3 {
  text-align: center;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.skills-logos {
  height: 90px;
  width: 90px;
}

.skills-hr {
  width: 40%;
  margin: 50px auto;
}

.team-text {
  text-align: center;
}


/* TEAM SECTION */
.team-section {
  height: 400px;
  width: 100%;
  margin: 70px auto;
  text-align: center;
  padding-top:  50px;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.team-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 400;
  margin: 0;
}

.team-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
}

.teambox {
  margin: 12px;
}


.teambox h3 {
  text-align: center;
  padding-top: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.team-logos {
  height: 180px;
  width: 180px;
  border: 2px solid #fff;
  border-radius: 100%;

  @media all and (max-width: 88em) {
    height: 160px;
    width: 160px;
  }

  @media all and (max-width: 80em) {
    height: 150px;
    width: 150px;
  }

  @media all and (max-width: 76em) {
    height: 140px;
    width: 140px;
  }

  @media all and (max-width: 72.5em) {
    height: 120px;
    width: 120px;
  }

  @media all and (max-width: 65em) {
    height: 110px;
    width: 110px;
  }
}