/********************************* HOMEPAGE STYLES *************************************/

/*=====================
        FONTS
=====================*/

@keyframes fade-in {
  0% { opacity: -1 }
  100% { opacity: 1 }
}

@keyframes fade-down {
  from { 
    opacity: 0;
    transform: translateY(-150px);
   }
  to   { 
    opacity: 1; 
    transform: translateY(0);
  }
}


/*======================
        GLOBAL 
 =====================*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90vh auto auto auto;
  grid-template-areas: "hero"
                      "about"
                      "skills"
                      "team";
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 160px 0;
}

.title {
  font-size: 4rem;
  margin: 0;
}

.subtitle {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}

.img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}

.img-box p {
  text-align: center;
  padding-top: 12px;
  font-weight: 600;
}

/* HERO SECTION */

.hero {
  grid-area: hero;
  margin: -70px 0 0;
  align-items: center;
  color: #fff;
  line-height: 1.3;
  background: linear-gradient(to bottom, rgba(13, 175, 129, 0.1) 0%, 
    rgba(13, 175, 129, 0.1) 100%),
    url(chess7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.hero.active {
  margin-top: -400px;
  height: 100vh;
}

.hero-header {
  margin: 0;
  padding-top: 70px;
  font-size: 6.4rem;
  font-weight: 200;
  letter-spacing: 1px;
  /*animation: fade-down 1.5s;*/
}

.arrows {
  padding-top: 50px;
}

/* ABOUT SECTION */

.about {
  align-items: center;
  color: black;
}

.about-container {
  width: 90%;
}

.about-header {
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}

.about-subheader {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 12px;
}

.about-text {
  font-size: 2.4rem;
}

/* SKILLS SECTION */

.skills {
  background-color: darkslategray;
  color: #fff;
}

.skills-hr {
  width: 40%;
  margin: 100px auto;
}

.skills-logos {
  display: block;
  width: 90px;
}

/* TEAM SECTION */

.team-logos {
  height: 150px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 100%;
}


/*==========================
        Media Queries
===========================*/

@media only screen and (min-device-width: 1200px){
  .subtitle,
  .subtitle {
    font-size: 1.2rem;
  }
  .about-container {
    width: 40%;
  }
  .img-container {
    width: 75%;
  }
}

@media only screen and (min-device-width: 990px) {
  .subtitle,
  .subtitle {
    font-size: 1.2rem;
  }
}

@media only screen and (min-device-width: 500px) {
  .about-header {
    font-size: 3rem;
  }
  .about-subheader {
    font-size: 1.8rem;
  }
  .about-text {
    font-size: 1.5rem;
  }
}
